 <!-- Navigation start -->

  <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
    <div class="containe navbar-background">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Au Sanglier</a>
      </div>

      <div class="collapse navbar-collapse margin-right" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll"><a href="#home">Accueil</a></li>
          <li class="page-scroll"><a href="#about">Historique</a></li>
          <li class="page-scroll"><a href="#dishes">Nos plats</a></li>
          <li class="page-scroll"><a href="#popular">Nos recommendation</a></li>
          <li class="page-scroll"><a href="#services">Services</a></li>
          <li class="page-scroll"><a href="#gallery">Gallery</a></li>
        </ul>
      </div>
    </div><!-- .container -->
  </nav>

  <!-- Navigation end -->
