<body class="center fond">
  <h1 class="text_white padding">NeW GaMe !!!!</h1>
  <div class="wrapper">
    <h2>RESULT</h2>
    <p> Message     :<%= @message %> </p><br>
    <p> Score       :<%= @score %> </p><br>
    <p> Time        :<%= @time %> </p><br>
    <p> Translation :<%= @translation %> </p><br>

  </div>
</body>
